<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if data["endtimes"]<0 %}
<div id="replystatus" >
<div class="alert alert-danger alert-dismissible" style="text-align:center;position: fixed;top:40%;z-index: 2; width:80%;margin:0 5%;z-index:9000000" role="alert">
  <button type="button" class="close"  onclick="hidemod('replystatus')" data-dismiss="alert"><span aria-hidden="true">x</span> </button>
  <strong>活动已结束</strong>

</div>
<div class="weui-mask"></div>
</div>
    {% elif data["aptimes"]>0 %}
        <div id="replystatus" >
<div class="alert alert-danger alert-dismissible" style="text-align:center;position: fixed;top:40%;z-index: 2; width:80%;margin:0 5%;z-index:9000000" role="alert">
  <button type="button" class="close"  onclick="hidemod('replystatus')" data-dismiss="alert"><span aria-hidden="true">x</span> </button>
  <strong>活动未开始</strong>

</div>
<div class="weui-mask"></div>
</div>
   {% end %}
</body>
</html>