<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>报名参加</title>
	<meta name="format-detection" content="telephone=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
	<meta name="apple-touch-fullscreen" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="http://jadl8.zhaojingl.com/attachment/images/global/wechat.jpg" />  
	<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="http://jadl8.zhaojingl.com/app/resource/js/app/util.js"></script>
	<script src="http://jadl8.zhaojingl.com/app/resource/js/require.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/mui/3.7.1/js/mui.min.js"></script>
	<script type="text/javascript" src="http://jadl8.zhaojingl.com/app/resource/js/app/common.js?v=20160906"></script>
  	<script type="text/javascript" src="http://jadl8.zhaojingl.com/addons/tyzm_diamondvote//template/static/js/verify.min.js"></script>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://jadl8.zhaojingl.com/app/resource/css/common.min.css?v=20160906" rel="stylesheet">
	<link href="https://libs.cdnjs.net/weui/1.1.2/style/weui.min.css" rel="stylesheet">
	<link href="http://jadl8.zhaojingl.com/addons/tyzm_diamondvote//template/static/css/index.css?a=11" rel="stylesheet">
 	<link href="http://jadl8.zhaojingl.com/addons/tyzm_diamondvote//template/static/css/verify.css" rel="stylesheet">
	<script type="text/javascript">
	if(navigator.appName == 'Microsoft Internet Explorer'){
		if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
			alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
		}
	}

	// jssdk config 对象
   jssdkconfig = {"appId":"{{aseedata["appId"]}}","nonceStr":"{{aseedata["nonceStr"]}}","timestamp":"{{aseedata["timestamp"]}}","signature":"{{aseedata["signature"]}}"} || {};	// 是否启用调试
	jssdkconfig.debug = false;
	jssdkconfig.jsApiList = [
		'checkJsApi',
		'onMenuShareTimeline',
		'onMenuShareAppMessage',
		'onMenuShareQQ',
		'onMenuShareWeibo',
		'hideMenuItems',
		'showMenuItems',
		'hideAllNonBaseMenuItem',
		'showAllNonBaseMenuItem',
		'translateVoice',
		'startRecord',
		'stopRecord',
		'onRecordEnd',
		'playVoice',
		'pauseVoice',
		'stopVoice',
		'uploadVoice',
		'downloadVoice',
		'chooseImage',
		'previewImage',
		'uploadImage',
		'downloadImage',
		'getNetworkType',
		'openLocation',
		'getLocation',
		'hideOptionMenu',
		'showOptionMenu',
		'closeWindow',
		'scanQRCode',
		'chooseWXPay',
		'openProductSpecificView',
		'addCard',
		'chooseCard',
		'openCard'
	];
	</script>
</head>
<body>
<div class="container container-fill"  style="padding-top:36px;" >
<div class="notice"><marquee style="WIDTH: 100%; HEIGHT: 18px" scrollamount="6" Align="Middle"  hspace="0" direction="Left" >{{data["titile"]}}</marquee></div>


<div id="carousel-container" class="carousel slide">
	<ol class="carousel-indicators">
						<li data-target="#carousel-container" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-container" data-slide-to="1"></li>
					</ol>

	<div class="carousel-inner" role="listbox">
				<div class="item active">
			<a href="javascript:;">
			
					<img src="http://tp-dl3.xcx2.top/images/25/2018/09/m3Z3q16sz2stOCTSQ10suTc32TPo32.jpg" title="" style="width:100%; vertical-align:middle;">

			
						</a>
			<div class="carousel-caption">
							</div>
		</div>
				<div class="item">
			<a href="javascript:;">
			
					<img src="http://tp-dl3.xcx2.top/images/25/2018/09/MeFEfc2f2eKpi6FeexFdD2K6Dloi6f.jpg" title="" style="width:100%; vertical-align:middle;">

			
						</a>
			<div class="carousel-caption">
							</div>
		</div>
			</div>
</div>
<script>
    function v_play(e){
        var e=e||'#carousel-example-generic';
        $(e).carousel('pause');
    }
    function v_pause(e){
        var e=e||'#carousel-example-generic';
        $(e).carousel('cycle');
    }
	require(['bootstrap', 'hammer'], function($, Hammer){
		$('#carousel-container').carousel();
		var mc = new Hammer($('#carousel-container').get(0));
		mc.on("panleft", function(ev) {
			$('#carousel-container').carousel('next');
		});
		mc.on("panright", function(ev) {
			$('#carousel-container').carousel('prev');
		});
	});
</script>
<style>
.slide { position: relative; }
.carousel-indicators { position: absolute; left: 50%; z-index: 1; bottom: 2px; width: 60%; padding-left: 0; margin-left: -30%; text-align: center; list-style: none; }
.carousel-indicators li { display: inline-block; width: 5px; height: 5px; margin: 1px; text-indent: -999px; cursor: pointer; background-color: #000 \9; background-color: rgba(0,0,0,0); border: 1px solid #fff; border-radius: 10px; }
.carousel-indicators .active { width: 6px; height: 6px; margin: 0; background-color: #fff; }
.carousel-inner { position: relative; width: 100%; overflow: hidden; }
.carousel-inner>.item { position: relative; display: none; -webkit-transition: .6s ease-in-out left; -o-transition: .6s ease-in-out left; transition: .6s ease-in-out left; }
.carousel-inner>.active.left { left: -100%; }
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev { display: block; }
.carousel-inner { position: relative; width: 100%; overflow: hidden }
.carousel-inner>.item { position: relative; display: none; -webkit-transition: .6s ease-in-out left; -o-transition: .6s ease-in-out left; transition: .6s ease-in-out left }
.carousel-inner>.item>img, .carousel-inner>.item>a>img { line-height: 1 }
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev { display: block }
.carousel-inner>.active { left: 0 }
.carousel-inner>.next, .carousel-inner>.prev { position: absolute; top: 0; width: 100% }
.carousel-inner>.next { left: 100% }
.carousel-inner>.prev { left: -100% }
.carousel-inner>.next.left, .carousel-inner>.prev.right { left: 0 }
.carousel-inner>.active.left { left: -100% }
.carousel-inner>.active.right { left: 100% }
. .carousel-inner>.item>img, .carousel-inner>.item>a>img {
 line-height: 1;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img { display: block; width: 100% \9; max-width: 100%; height: auto; }
.carousel-caption { position: absolute; right: 15%; left: 15%; z-index: 1; color: #fff; text-align: center; text-shadow: 0 1px 2px rgba(0,0,0,.6); bottom: 15px; font-size: 0.8em; padding-top: 0px; padding-bottom: 0px; }
</style><style type="text/css">
	.mpanell-shade{
		background: rgba(0,0,0,.5);
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}
	#mpanel1{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
<div style="height:10px;"></div>

<div class="fee_feedback_wrapper">
<form id="formID">
	<div>
		<ul class="fd_list2">
			<li>
			<div class="tlt">名称</div>
			<div class="cont">
				<input name="name"  type="text" placeholder="请输入姓名或昵称" class="tx"></div>
			</li>
			<li>
			<div class="tlt">参赛宣言</div>
			<div class="cont">
				<textarea name="introduction" class="ta" cols="" placeholder="一句话描述自己的参赛宣言"></textarea></div>
			</li>
			<li><div class="tlt">手机</div><div class="cont"><input name="mobile"  type="tel" placeholder="请输入手机" class="tx"></div></li><li><div class="tlt">简介</div><div class="cont"><input name="affectivestatus"  type="text" placeholder="请输入简介" class="tx"></div></li>			</ul>
			<div class="divbaoming4">
			<div class="dlist1">   选择上传1-5张照片，第一张为封面图。</div>

            			<div class="dlist3" id="chooseImages"><img src="http://jadl8.zhaojingl.com/addons/tyzm_diamondvote//template/static/images/jia.gif" class="bmimg"></div>
            
            </div>
		<div class="btn_area">
<div class="baomingtxt"><font color="#a0a0a0">请如实填写报名信息，获取参赛资格！</font></div>
<div class="baomingtxt"><font color="#a0a0a0"></font></div>
<div class="btn_bg_green">提交报名</div>
<div class="baomingtxt"><font color="#a0a0a0"></font></div>
	</div>

	</div>
	</form> 
</div>
<div class="follow" id="follow" style="display:none">
<div class="weui-mask"></div>
<div id="guanzhubox" >
	<div class="box1" onclick="hidemod('follow');">
	<span class="span1">提示</span> 
	<span class="span2" >关闭</span></div>
	<div class="divtxt">
	<p>长按下方二维码，长按，识别二维码</p>
	<p><img src="http://tp-dl3.xcx2.top/qrcode_25.jpg?time=1538223221" width="80%"></p>
	关注公众号后，点击菜单或回复投票关键字即可参加投票。		
	</div>
</div>
</div>
	 <input type="file" id="files" name="img" multiple="multiple" style="display:none" />
<!--滑动验证-->
 <div class="mpanell-shade">
	<div id="mpanel1"></div>
</div>
<script>
  // setTimeout(function(){
  //   console.log($('input[type="file"]'));
  // 	$('input[type="file"]')[0].click();
  // },10000);
 $(document).ready(function()
 {
     $("#files").change(files_oninpit);
     $('.mpanell-shade').height($(window).height()).hide().click(function (e) {
         if (!$(e.target).parents('#mpanel1').length) $(this).hide();
     });
     $('body').on('click', 'input[type="file"]', null, function () {
         $('.mpanell-shade').show();
         return false;
     })
     $('#mpanel1').slideVerify({
         type: 1,		//类型
         vOffset: 5,	//误差量，根据需求自行调整
         barSize: {
             width: '80%',
             height: '40px',
         },
         ready: function () {
         },
         success: function () {

             $('.mpanell-shade').remove();
             $('body').off('click', 'input[type="file"]');
             //......后续操作
         },
         error: function () {
//		        	alert('验证失败！');
         }

     });
     var images = {
         localId: [],
         serverId: []
     };
       $("#chooseImages").click(function(){$("#files").click()})
 })

function files_oninpit() {
        var fiels= $("#files").prop('files');
        console.log(fiels)
        var formFile = new FormData();
        for(var i=0;i<fiels.length;i++)
        {

            console.log(fiels[i].size)
            if((fiels[i].size/1024/1024)>10)
            {
                alert("文件过大");
                return
            }
            filepath=fiels[i].name;
            var extStart=filepath.lastIndexOf(".");
            var ext=filepath.substring(extStart,filepath.length).toUpperCase();
            if(ext!=".BMP"&&ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG")
            {

                alert("图片限于png,gif,jpeg,jpg格式");
                return
            }
             formFile.append(fiels[i].name, fiels[i]); //加入文件对象
        }

        $.ajax({
        url:'/uploadfile',
        type: 'POST',
        data:formFile,
        processData: false,//用于对data参数进行序列化处理 这里必须false
        contentType: false, //必须
        success: function (arg)
        {
            arg=JSON.parse(arg)

            if(arg["code"]=="0")
            {
                var data=arg["data"]
                var namelist=[]
                for(var i=0;i<data.length;i++)
                {
                    namelist.push({"name":data[i]["odlname"].split(".")[0],"avatar":data[i]["path"]});
                }
                if(namelist&&uuid.uuid) {
                    var new_data = {"namelist":JSON.stringify(namelist), "action": "create_list","uuid":uuid.uuid}
                    create_list(new_data)
                }

            }
        }

        })
}



	$(".btn_bg_green").click(function(){
            var upimages=[];
			var name=$("input[name='name']").val();
			if(name==''){dialog2("请输入姓名");return false;}
			var introduction=$("textarea[name='introduction']").val();
			if(introduction==''){dialog2("参赛宣言不能为空！");return false;}
		    
			var mobile=$("*[name='mobile']").val();	
			if(mobile==""){dialog2("请输入手机");return false;}
					if(!(/^1[3|4|5|6|7|8|9][0-9]\d{8}$/.test(mobile))){dialog2("请输入正确的手机号码！");return false; } 
			var affectivestatus=$("*[name='affectivestatus']").val();	
			if(affectivestatus==""){dialog2("请输入简介");return false;}		     
				var i = 0, length = images.localId.length;
				if(length < 1 || length > 5){
				   images.localId = [];
				   var upimgtip="请上传1-5张图片";
				   dialog2(upimgtip);return false;//1-5张照片
				}
			images.serverId = [];
			function upload() {
			  wx.uploadImage({
				 localId: images.localId[i],
				 isShowProgressTips:2,
				 success: function (res) {
				   i++; 
				   images.serverId.push(res.serverId);
				   if (i < length) {
					  upload(); 
				   } else {
                      upimages=images.serverId;


                      //提交信息
			            loadingToast("正在提交...");
						$(this).unbind();
						//提交报名
						$.ajax({
							type: "POST",
							url: "./index.php?i=25&c=&rid=3048&do=join&m=tyzm_diamondvote",
							data: {"name":name,"introduction":introduction,"phone":mobile,"description":affectivestatus, "picturearr":upimages},

							success: function(str) {
								hidemod("loadingToast");
								if(str!=null && str!=''){
									if(str.status == 1){
										location.href="./index.php?i=25&c=entry&rid=3048&do=view&m=tyzm_diamondvote&id="+str.id;
									}else if(str.status == 500){
										$("#follow").show();
									}else{
										dialog2(str.msg);
									}
								}
							},
							error: function(err) {
								hidemod("loadingToast");
								dialog2("发生错误，请刷新后重试！");
							}
						});

			//提交报名
                      //
                      //

	               }
				 },
				 fail: function (res) {
					hidemod("loadingToast");
					dialog2("发现错误，请重试");return false;
				 }
			  });
			}
		   upload();
				   
	});
	 });
</script>

					<div class="text-center footer" style="display:none;">
									
								&nbsp;&nbsp;			</div>
			
		
	</div>
	<!-- 提示弹窗start -->



<div id="dialog2" style="opacity: 1;display:none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">返回错误！</div>
            <div class="weui-dialog__ft">
                <a href="javascript:hidemod('dialog2');" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
            </div>
        </div>
</div> 

<div id="toast" style="opacity: 1; display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content" style="color:#fff">已完成</p>
        </div>
</div>
<div id="loadingToast" style="opacity: 1; display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content" style="color:#fff">数据加载中</p>
        </div>
</div>
<!-- 提示弹窗start -->

	<script type="text/javascript">





		var sharedata = {"title":"{{share["sharetitle"]}}","imgUrl":"{{share["shareimgV"]}}","desc":"{{share["sharedesc"]}}","link":"{{share["url"]}}"};




	if(sharedata.desc == ''){
		var _share_content = _removeHTMLTag($('body').html());
		if(typeof _share_content == 'string'){
			sharedata.desc = _share_content.replace(sharedata['title'], '')
		}
	}
	wx.ready(function () {
		wx.onMenuShareAppMessage(sharedata);
		wx.onMenuShareTimeline(sharedata);
		wx.onMenuShareQQ(sharedata);
		wx.onMenuShareWeibo(sharedata);
	});
	wx.error(function(res){
	    	// dialog2("验证失败");
});
	sharedata.success = function(){
			// var url = "./index.php?i=25&c=entry&ty=share&rid=3319&do=Count&m=tyzm_diamondvote";
			// $.post(url, function(dat){});
	}
	$(function(){
		if($('.js-quickmenu')!=null && $('.js-quickmenu')!=''){
			var h = $('.js-quickmenu').height()+'px';
			$('body').css("padding-bottom",h);
		}else{
			$('body').css("padding-bottom", "0");
		}
		
		if($('.js-quickmenu')!=null && $('.js-quickmenu')!=''){
			var h = $('.js-quickmenu').height()+'px';
			$('body').css("padding-bottom",h);
		}
	});

	
	
	</script>
	
<script>
function dialog2(msg){$("#dialog2 .weui-dialog__bd").html(msg);$("#dialog2").show()}function hidemod(boxid){$("#"+boxid).hide()}function loadingToast(msg){$("#loadingToast .weui-toast__content").html(msg);$("#loadingToast").show()}function toast(msg){$("#toast .weui-toast__content").html(msg);$("#toast").show();setTimeout("hidemod('toast')",3000)}var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="https://hm.baidu.com/hm.js?08c6f5e17c0761a968c5658ccf6ff5ad";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s)})();</script>

<script>var imgs = document.getElementsByTagName('img');for(var i=0, len=imgs.length; i < len; i++){imgs[i].onerror = function() {if (!this.getAttribute('check-src') && (this.src.indexOf('http://') > -1 || this.src.indexOf('https://') > -1)) {this.src = this.src.indexOf('http://ie3iii.jia.zenglianghao.com/attachment/') == -1 ? this.src.replace('http://tp-dl3.xcx2.top/', 'http://ie3iii.jia.zenglianghao.com/attachment/') : this.src.replace('http://ie3iii.jia.zenglianghao.com/attachment/', 'http://tp-dl3.xcx2.top/');this.setAttribute('check-src', true);}}};</script><script type="text/javascript" src="http://ie3iii.jia.zenglianghao.com/app/index.php?i=25&c=utility&a=visit&do=showjs&m=tyzm_diamondvote"></script></body>
</html>
