<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{data["titile"]}}</title>
   <meta name="format-detection" content="telephone=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
	<meta name="apple-touch-fullscreen" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="/imageswechat.jpg/">
	<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="/resource/js/app/util.js"></script>
	<script src="/resource/js/require.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/mui/3.7.1/js/mui.min.js"></script>
	<script type="text/javascript" src="/resource/js/app/common.js?v=20160906"></script>
  	<script type="text/javascript" src="/resource/js/verify.min.js"></script>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="/resource/css/common.min.css?v=20160906" rel="stylesheet">
	<link href="https://libs.cdnjs.net/weui/1.1.2/style/weui.min.css" rel="stylesheet">
	<link href="/resource/css/index.css?a=11" rel="stylesheet">
 	<link href="/resource/css/verify.css" rel="stylesheet">
	<script type="text/javascript">
        if (navigator.appName == 'Microsoft Internet Explorer') {
        if (navigator.userAgent.indexOf("MSIE 5.0") > 0 || navigator.userAgent.indexOf("MSIE 6.0") > 0 || navigator.userAgent.indexOf("MSIE 7.0") > 0) {
            alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
        }
    }

   	jssdkconfig = {"appId":"{{aseedata["appId"]}}","nonceStr":"{{aseedata["nonceStr"]}}","timestamp":"{{aseedata["timestamp"]}}","signature":"{{aseedata["signature"]}}"} || {};
    jssdkconfig.debug = false;
    jssdkconfig.jsApiList = ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideMenuItems', 'showMenuItems', 'hideAllNonBaseMenuItem', 'showAllNonBaseMenuItem', 'translateVoice', 'startRecord', 'stopRecord', 'onRecordEnd', 'playVoice', 'pauseVoice', 'stopVoice', 'uploadVoice', 'downloadVoice', 'chooseImage', 'previewImage', 'uploadImage', 'downloadImage', 'getNetworkType', 'openLocation', 'getLocation', 'hideOptionMenu', 'showOptionMenu', 'closeWindow', 'scanQRCode', 'chooseWXPay', 'openProductSpecificView', 'addCard', 'chooseCard', 'openCard'
    ];</script>
</head>
<body>
<div class="container container-fill" style="padding-top:36px;">
    <div class="notice">
        <marquee style="WIDTH: 100%; HEIGHT: 18px" scrollamount="6" Align="Middle" hspace="0" direction="Left">
           {{data["titile"]}}
        </marquee>
    </div>
    <link rel="stylesheet"
          href="http://jadl8.zhaojingl.com/addons/tyzm_diamondvote//template/static/css/donate.css?a=12">
    <style type="text/css">.divbottommenu {
        display: flex;
        justify-content: space-around;
    }

    .divitem {
        width: 33.333%;
    }

    body {
        background-color: #f8f8f8;
    }

    .btn_clear {
        background-color: white;
        color: red;
    }

    .btn_active {
        background-color: #f25f55 !important;
        color: white !important;
    }

    .float {
        position: fixed;
        top: 1%;
        right: 3%;
        font-size: 15px;
        z-index: 999999;
    }

    .floatBottom {
        font-size: 15px;
        text-align: center
    }</style>
    <div style="background-color:#f8f8f8;" class="donate">
        <div style="display:flex;weight:100%;justify-content:center;" class="weui-panel__bd user_info">
            <a href="./index.php?i=25&c=entry&rid=5082&id=409253&do=view&m=tyzm_diamondvote"
               class="weui-media-box weui-media-box_appmsg weui-cell_access">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb"
                         src="http://tp-dl3.xcx2.top/images/25/2018/10/J00izp400o4OZES2Xj04M41v24rdeV.jpg"
                         alt="好形象烫染精致店" style="border-radius: 50%;
    border: 1px solid #ffffff;box-shadow: 0px 1px 16px #c7c7c7;">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">{{data["name"]}}</h4>
                    <p class="weui-media-box__desc">给Ta送上一份礼物吧</p>
                </div>
                <span class="weui-cell__ft"></span>
            </a>
        </div>
        <div class="divbottommenu" style="border-top: 1px dashed #d5d5d5;">
            <div class="divitem">
                <span><i class="fa fa-user fa-fw"></i>编号</span>
                <span>{{data["index"]}}</span>
            </div>
            <div class="divitem">
                <span><i class="fa fa-ticket fa-fw"></i>票数</span>
                <span>{{data["votenum"]}}</span>
            </div>
        </div>
        <div class="donate_money_p_p">
            <div class="donate_money_choose_p">
                <div style="display:flex;justify-content:center;margin-bottom:20px">
                    <div id="zval" style="font-weight:500;font-size:130%;" class="donate_money_edit_text">为{{data["index"]}}号 {{data["name"]}}
                        送 1钻=3票
                    </div>
                </div>



               {% for row in data["liwulist"] %}
                  <div class="donate_money_choose donate_money_choose1">
                      {% for i in row %}
                    <div class="donate_money" dada-key={{i["index"]}} dada-tip="为{{data["index"]}}号 {{data["name"]}} 送 {{i["giftprice"]}}钻={{i["giftvote"]}}票">
                        送<span class="donate_money_title" style="color:red;font-size:200%;font-style:italic">{{i["giftprice"]}}</span>钻
                    </div>
                {% end %}
                 </div>
              {% end %}


                <div class="donate_money_choose donate_money_choose1">
                    <div class="donate_money" dada-key="0" dada-tip="0">
                        <p class="donate_money_icon"></p>
                        <span class="donate_money_title" style="color:red;font-weight:900;font-size:150%;">自定义</span>
                        <input type="text" oninput="jsgb()" value="" placeholder="请输入要送钻的数量" id="zuan"
                               style="display: none;height:50px;border-radius:15px">
                    </div>
                </div>
                <div style="display:flex;justify-content:center;margin-bottom:20px"><p></p></div>
            </div>
        </div>
        <style>.donate_bank_p {
            position: relative;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 50px;
            border: none;
            background-color: #f8f8f8;
            z-index: 1;
        }

        .donate_bank_p a {
            height: 40px;
            line-height: 40px;
            width: 91%;
            margin-top: 0px;
        }</style>
        <div class="donate_bank_p">
            <a id="weixin" href="javascript:;" class="weui-btn weui-btn_primary js-wechat-pay">去支付</a>
            <div class="float">
                <a href="/wx/toushu">
                    投诉
                </a>
            </div>
        </div>
    </div>
    <div id="qshuli" class="donate_alert_mask" onclick="document.getElementById('qshuli').style.display='none';">
        <div class="donate_alert">
            <div class="donate_alert_msg">请选择要送钻的数量</div>
            <div class="donate_alert_btns">
                <div class="donate_alert_btn ok">确定</div>
            </div>
        </div>
    </div>
    <br></br>
    <div class="floatBottom">
        <a href="/wx/toushu">
            投诉
        </a>
    </div>
    <script>var pay = true;
    var znum = 1;
    var zuan_max = 4000;
    var zuan_rate = 3;
    var zdy = 0;

    function jsgb() {
        var price = document.getElementById("zuan").value;
        var val = Number(price);
        if (!check(price)) {
            if (!check(val)) {
                znum = '';
                val = 0;
            }
            document.getElementById("zuan").value = znum;
        } else {
            if (price > zuan_max) {
                zdy = 1;
                znum = zuan_max;
                val = zuan_max;
                document.getElementById("zuan").value = zuan_max;
            } else {
                zdy = 1;
                znum = price;
            }
        }
        if (val < 1) {
            document.getElementById('weixin').style.backgroundColor = '#ddd';
            pay = false;
        } else {
            document.getElementById('weixin').style.backgroundColor = '#44b549';
            pay = true;
        }
        document.getElementById("zval").innerHTML = "为{{data["index"]}}号 {{data["name"]}} 送 " + val + "钻=" + val * zuan_rate + "票";
    }

    function check(v) {
        var a = /^[1-9][0-9]*$/;
        if (!a.test(v)) {
            return false;
        } else {
            return true;
        }
    }

    $(document).ready(function () {
        var giftid = 'x';
        $(".donate_money_choose .donate_money").click(function () {
            var tip = $(this).attr("dada-tip");
            if (tip == 0) {
                $(".btn_active").removeClass("btn_active");
                document.getElementById("zuan").style.display = 'block';
                jsgb();
            } else {
                if (document.getElementById("zuan")) {
                    document.getElementById("zuan").style.display = 'none';
                }
                document.getElementById('weixin').style.backgroundColor = '#44b549';
                pay = true;
                zdy = 0;
                $(".btn_active").removeClass("btn_active");
                $(this).addClass("btn_active");
                $(this).children().addClass("btn_active");
                $(".donate_money_edit_text").text(tip);
            }
            giftid = $(this).attr("dada-key");
            $(".donate_money_choose .donate_money").removeClass("active");
            $(this).addClass("active");
        });
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            $('.js-wechat-pay').removeClass('mui-disabled');
            $('.js-wechat-pay').click(function () {
                if (zdy) {
                    var count = document.getElementById("zuan").value;
                } else {
                    var count = 1;
                }
                if (giftid == 'x' || typeof(giftid) == "undefined") {
                    dialog2("请选择你要送钻的数量!");
                    return false;
                }
                if (pay == false) {
                    dialog2("请输入你要送钻的数量");
                    return false;
                }
                loadingToast("奋力加载");
                $.ajax({
                    type: "POST",
                    url: "./index.php?i=25&c=entry&rid=5082&id=409253&ty=1&type=1&do=pay&m=tyzm_diamondvote",
                    data: {giftid: giftid, count: count},
                    dataType: "json",
                    success: function (str) {
                        hidemod("loadingToast");
                        if (str != null && str != '' && str.error != 1) {
                            payment = str.message.message;
                            WeixinJSBridge.invoke("getBrandWCPayRequest", {
                                    appId: payment.appId,
                                    timeStamp: payment.timeStamp,
                                    nonceStr: payment.nonceStr,
                                    "package": payment["package"],
                                    signType: payment.signType,
                                    paySign: payment.paySign
                                }, function (res) {
                                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                                        toast("支付成功");
                                        setTimeout(location.href = "./index.php?i=25&c=entry&rid=5082&id=409253&do=view&m=tyzm_diamondvote", 3000);
                                    } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                                        dialog2("已取消支付");
                                        return false;
                                    } else {
                                        dialog2(res.err_msg);
                                        return false;
                                    }
                                }
                            );
                        } else {
                            dialog2(str.msg);
                        }
                    },
                    error: function (err) {
                        hidemod("loadingToast");
                        dialog2("发生错误，请刷新后重试！(1)");
                    }
                });
            });
            $('.js-wechat-pay').html('微信支付');
        });
    });</script>
    <div class="text-center footer" style="display:none;">
        &nbsp;&nbsp;
    </div>
</div>
<div id="dialog2" style="opacity: 1;display:none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">返回错误！</div>
        <div class="weui-dialog__ft">
            <a href="javascript:hidemod('dialog2');" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
    </div>
</div>
<div id="toast" style="opacity: 1; display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content" style="color:#fff">已完成</p>
    </div>
</div>
<div id="loadingToast" style="opacity: 1; display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content" style="color:#fff">数据加载中</p>
    </div>
</div>
<script type="text/javascript">$.getJSON("./index.php?i=25&c=entry&ty=pv&rid=5082&id=409253&do=Count&m=tyzm_diamondvote", function (result) {
});
	var sharedata = {"title":"{{share["sharetitle"]}}","imgUrl":"{{share["shareimgV"]}}","desc":"{{share["sharedesc"]}}","link":"{{share["url"]}}"};




	if(sharedata.desc == ''){
		var _share_content = _removeHTMLTag($('body').html());
		if(typeof _share_content == 'string'){
			sharedata.desc = _share_content.replace($_share['title'], '')
		}
	}
	wx.ready(function () {
		wx.onMenuShareAppMessage(sharedata);
		wx.onMenuShareTimeline(sharedata);
		wx.onMenuShareQQ(sharedata);
		wx.onMenuShareWeibo(sharedata);
	});
	sharedata.success = function(){
			// var url = "./index.php?i=25&c=entry&ty=share&rid=3319&do=Count&m=tyzm_diamondvote";
			// $.post(url, function(dat){});
	}
$(function () {
    if ($('.js-quickmenu') != null && $('.js-quickmenu') != '') {
        var h = $('.js-quickmenu').height() + 'px';
        $('body').css("padding-bottom", h);
    } else {
        $('body').css("padding-bottom", "0");
    }
    if ($('.js-quickmenu') != null && $('.js-quickmenu') != '') {
        var h = $('.js-quickmenu').height() + 'px';
        $('body').css("padding-bottom", h);
    }
});</script>
<script>function dialog2(msg) {
    $("#dialog2 .weui-dialog__bd").html(msg);
    $("#dialog2").show()
}

function hidemod(boxid) {
    $("#" + boxid).hide()
}

function loadingToast(msg) {
    $("#loadingToast .weui-toast__content").html(msg);
    $("#loadingToast").show()
}

function toast(msg) {
    $("#toast .weui-toast__content").html(msg);
    $("#toast").show();
    setTimeout("hidemod('toast')", 3000)
}

var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?08c6f5e17c0761a968c5658ccf6ff5ad";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s)
})();</script>
<script>var imgs = document.getElementsByTagName('img');
for (var i = 0, len = imgs.length; i < len; i++) {
    imgs[i].onerror = function () {
        if (!this.getAttribute('check-src') && (this.src.indexOf('http://') > -1 || this.src.indexOf('https://') > -1)) {
            this.src = this.src.indexOf('http://a77efe.jia.zenglianghao.com/attachment/') == -1 ? this.src.replace('http://tp-dl3.xcx2.top/', 'http://a77efe.jia.zenglianghao.com/attachment/') : this.src.replace('http://a77efe.jia.zenglianghao.com/attachment/', 'http://tp-dl3.xcx2.top/');
            this.setAttribute('check-src', true);
        }
    }
}
;</script>
<script type="text/javascript"
        src="http://a77efe.jia.zenglianghao.com/app/index.php?i=25&c=utility&a=visit&do=showjs&m=tyzm_diamondvote"></script>
</body>
</html>
